* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	margin-bottom: 0;
}

.sub-main {
	background-color: aqua;
	background-image: url("../images/trump_serbian.jpg");
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.buy-content {
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	max-height: 80vh;
}

.buy-content > div:first-child {
	overflow: auto;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

main {
	position: sticky;
	top: 0;
	z-index: 999;
}

header > div > h1 {
	font-size: 5rem;
	text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
	font-weight: bold;
	letter-spacing: 2px;
	text-align: center;
}

@media screen and (max-width: 768px) {
	header > div > h1 {
		font-size: 3rem; /* Smanjujemo veličinu fonta na manjim ekranima */
	}
}

@media screen and (max-width: 480px) {
	header > div > h1 {
		font-size: 2rem; /* Još više smanjujemo veličinu fonta na još manjim ekranima */
	}
}

.hhhh {
	background-color: white;
}
.social {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	width: 100%;
	background: linear-gradient(to right, red, white, blue);
}

.main {
	position: sticky;
	top: 0;
	background-color: white; /* Boja pozadine po želji */
	z-index: 999; /* Postavljamo visoki z-indeks kako bi bili sigurni da će biti iznad ostalih sadržaja */
}

.social a {
	color: #333;
	text-decoration: none;
	font-size: 60px;
}

.social a i {
	color: #55acee;
}

.social a:nth-child(2) i {
	color: #0088cc;
}

.social a:last-child i {
	color: #00bfff;
}

.social a:hover {
	color: #666;
}

.main-content {
	height: 20vh;
}

.gif > img {
	width: 50%;
}

.gif {
	height: calc(50vh - (padding ili margin));
}

.content {
	text-align: center;
}

.content h2 {
	font-size: 2.5rem;
	font-weight: bold;
	color: #333;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
	margin-bottom: 20px;
	white-space: pre-line;
}

.content-roadmap > h3 {
	font-size: 2rem;
	font-weight: bold;
	color: #333;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
	text-align: center;
}

.gif {
	display: flex;
	justify-content: space-around;
}

footer {
	position: relative;
	margin-top: auto;
	width: 100%;
	background-color: #333;
	color: white;
	padding: 10px;
	text-align: center;
}

.banner {
	overflow: hidden;
	position: relative;
	background-color: #333;
	color: white;
	padding: 25px;
	background: linear-gradient(to right, red, white, blue);
}

.banner h1 {
	position: absolute;
	top: 0;
	left: 100%;
	margin: 0;
	white-space: nowrap;
	animation: slideText 5s linear infinite;
	color: black;
}

@keyframes slideText {
	0% {
		left: 100%;
	}
	100% {
		left: -100%;
	}
}
