* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: aqua;
	background-image: url("../images/serbia_against_the_world.jpg");
	background-size: 100%;
	background-position: center;
	height: 100%;
}

header {
	display: flex;
	justify-content: center; /* Centriramo horizontalno */
	align-items: center; /* Centriramo vertikalno */
	height: 100vh; /* Postavljamo visinu na 100% visine ekrana */
}

header > div > h1 {
	color: black;
	font-size: 5rem;
	text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5); /* Dodajemo sjenu ispod teksta */
	font-weight: bold; /* Dodajemo boldiranje tekstu */
	letter-spacing: 2px; /* Dodajemo razmak između slova */
	text-align: center;
}

.hhhh {
	background-color: white;
}

.social {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	width: 100%;
}

.social a {
	color: #333; /* Boja teksta */
	text-decoration: none; /* Uklanjamo podvlacenje linkova */
	font-size: 96px; /* Veličina ikonica, 4 puta veća od prethodne */
}

.social a i {
	color: #55acee; /* Boja za Twitter */
}

.social a:nth-child(2) i {
	color: #0088cc; /* Boja za Telegram */
}

.social a:last-child i {
	color: #00bfff; /* Boja za Dex Screener */
}

.social a:hover {
	color: #666; /* Boja teksta na hover */
}

.main-content {
	height: 20vh;
}

.gif > img {
	width: 50%;
}

.gif {
	height: 50vh;
}
